<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlotToPDFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="AWSProfileName" value="" />
      <add key="AWSAccessKey" value="" />
      <add key="AWSSecretKey" value="" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <userSettings>
        <PlotToPDFService.Properties.Settings>
            <setting name="AutoCADIOClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCADIOClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="S3BucketName" serializeAs="String">
                <value />
            </setting>
            <setting name="DrawingFolder" serializeAs="String">
                <value>c:\temp</value>
            </setting>
        </PlotToPDFService.Properties.Settings>
    </userSettings>
</configuration>